* {
    margin: 0;
    padding: 0;
  }
  #complete {
    width: 95%;
    height: 15%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 200px;
  }
  #complete .one {
    width: 25%;
    border: 0.5px solid rgb(185, 176, 176);
    display: flex;
    margin: 10px;
  }
  #complete .one img {
    height: 80px;
    padding: 10px;
  }
  #complete .one:hover {
    box-shadow: 0 0 15px rgb(71, 160, 141);
  }
  #complete .one .write {
    padding-left: 10px;
    padding-top: 20px;
    width: 180px;
    font-size: 19px;
  }
  #complete .one .write1 {
    padding-top: 20px;
    padding-left: 0px;
    color: teal;
  }