body{
    margin: 0;
    padding:0;
}
#nav-bar{
    display: flex;
    justify-content: space-between;
    padding:20px 150px ;
    color: black;
    background-color: #10847e;
}
#nav-bar>img{
    height: 58px;
}
i{
    /* margin-top: 38px; */
    text-align: center;
    margin-right: 10px;
    color: bisque;
}
#nav-bar>p>img{
    color: #10847e;
    background-color: #10847e;
    height: 35px;
}
#nav-bar p{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color:  rgb(255, 255, 255);
}
#main{
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
}
#right{
    width: 35%;
}
#left-main{
    width: 57%;
}
#left-main{

}
#main>div:first-child>div{
   padding:10px;
   font-size: 16px;
   margin: 15px;
   color:  rgb(79, 88, 94);
   border-radius: 10px;
   font-family:  "Open Sans", sans-serif;
    /* border: 1px solid blue; */
}
#main>div:first-child>div:first-child{
    font-family:  "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    background-color: #f5f8fc;
    color: #4f585e;
    /* border: 1px solid red; */
}

#main>div:first-child>div:nth-child(2)>div >div{
    display: flex;
    align-items: center;
   font-family:  "Open Sans", sans-serif;
   font-size: 12px;
   font-weight: 600;
   line-height: 15px;
   color:  rgb(79, 88, 94);
    
}
#main>div>div:nth-child(2)>div >div img{
    margin-top: 0px;
    height: 15px;
}
#delay{
    margin: -10px;
    padding: 10px;
    display: flex;
    align-items: center;
   font-family:  "Open Sans", sans-serif;
   font-size: 12px;
   line-height: 16px;
   color:  rgb(79, 88, 94);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:  rgb(222, 247, 240);
   
}

#bill-box>div {
   display: flex;
   justify-content: space-between;
    /* border: 1px solid orange; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
#main>div:last-child button{
    font-family:  "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: 700;
    background-color: #14b9b0;
    color: white;
    border-radius: 10px;
    border: none;
    padding:3% 25% ;
    margin: 16px;
    cursor: pointer;
}
#main>div:last-child>div>p{
    font-family:  "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(79, 88, 94);
    
}
#Discount,#off{
    font-size: 16px;
    font-weight: 600;
    color: #1ca9a2;
}

#bill-box {
    padding: 20px;
    font-family:  "Open Sans", sans-serif;
   font-size: 17px;
   line-height: 24px;
   color:  rgb(79, 88, 94);
}
#main>div:last-child button:hover{
    background-color: #10847e;
}

input+span{
    font-family:  "Open Sans", sans-serif;
   font-size: 16px;
   font-weight: 700;
   line-height: 20px;
   color:  rgb(79, 88, 94);
}
